[submodule "vendor/color-theme-tango-2"]
	path = vendor/color-theme-tango-2
	url = git://github.com/wfarr/color-theme-tango-2
[submodule "vendor/magit"]
	path = vendor/magit
	url = git://gitorious.org/magit/mainline.git
